@model Zaginieni.Models.Info
@{
    ViewBag.Title = "Index";
    <p>Mikołaj Lis z612 8283
    <hr />
    Programowanie internetowe - strona o zaginionych
    <hr />
    INFO: u mnie niestety css nie ładuje się automatycznie i trzeba w visualu usunąć i wkleić ponownie css :( nwm dlaczego.</p>
}



